*.meta
*.csproj
*.sln

unity/elysianforest/Library
unity/elysianforest/Logs
unity/elysianforest/Temp

# terraform/.gitignore
infrastructure/terraform/.gitignore
.terraform.lock.hcl
*.tfvars
terraform.tfstate
terraform.tfstate.backup